//
//Axteliconos 2015
//
@font-face {
    font-family: 'axteliconos';
    src:url('../fonts/axteliconos.eot?1a83gn');
    src:url('../fonts/axteliconos.eot?1a83gn#iefix') format('embedded-opentype'),
    url('../fonts/axteliconos.ttf?1a83gn') format('truetype'),
    url('../fonts/axteliconos.woff?1a83gn') format('woff'),
    url('../fonts/axteliconos.svg?1a83gn#axteliconos') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** FONT ICON AXTEL - CLASSES ***/
[class^="icon-"], [class*=" icon-"] {
	font-family: 'axteliconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//Individual icons
.icon-axtel-captchabtn-icon {
    .path1 {
        &:before {
            font-size: 29px;
            content: "\e900";
            color: rgb(196, 32, 50);
        }
    }
    .path2 {
        &:before {
            font-size: 29px;
            content: "\e901";
            margin-left: -1em;
            color: rgb(255, 255, 255);
        }
    }
}
.icon-axtel-check-icon { &:before { content: "\e800"; } }

.icon-axtel-deletebtn-icon {
    &:before {
        content: "\e801";
    }
}
.icon-axtel-downarrow-icon {
    &:before {
        content: "\e802";
        margin-right: 17px;
    }
}
.icon-axtel-downloadbtn-icon {
    &:before {
        content: "\e803";
        margin-right: 17px;
    }
}
.icon-axtel-loginbtn-icon {
    &:before {
        content: "\e804";
    }
}

.icon-axtel-minusbtn-icon {
    .path1 {
        &:before {
            font-size: 29px;
            content: "\e805";
            color: rgb(196, 32, 50);
        }
    }
    .path2 {
        &:before {
            font-size: 29px;
            content: "\e806";
            margin-left: -0.994140625em;
            color: rgb(255, 255, 255);
        }
    }
}

.icon-axtel-plusbtn-icon {
    .path1 {
        &:before {
            font-size: 29px;
            content: "\e807";
            color: rgb(196, 32, 50);
        }
    }
    .path2 {
        &:before {
            font-size: 29px;
            content: "\e808";
            margin-left: -0.9970703125em;
            color: rgb(255, 255, 255);
        }
    }
}

.icon-axtel-submitbtn-icon {
    &:before {
        content: "\e809";
    }
}
.icon-puntoamarillo-icon {
    .path1 {
        &:before {
        content: "\e80a";
        color: rgb(18, 18, 18);
        }
    }
    .path2 {
        &:before {
        content: "\e80b";
        margin-left: -1em;
        color: rgb(255, 207, 5);
        }
    }
}

.icon-puntoblanco-icon {
    .path1 {
        &:before {
        content: "\e80c";
        color: rgb(18, 18, 18);
        }
    }
    .path2 {
        &:before {
        content: "\e80d";
        margin-left: -0.990234375em;
        color: rgb(255, 255, 255);
        }
    }
}

.icon-puntorojo-icon {
    .path1 {
        &:before {
        content: "\e80e";
        color: rgb(18, 18, 18);
        }
    }
    .path2 {
        &:before {
        content: "\e80f";
        margin-left: -0.9638671875em;
        color: rgb(196, 32, 50);
        }
    }
}

.icon-puntoverde-icon {
    .path1 {
        &:before {
        content: "\e810";
        color: rgb(18, 18, 18);
        }
    }
    .path2 {
        &:before {
        content: "\e811";
        margin-left: -1em;
        color: rgb(110, 190, 68);
        }
    }
}