//***BOTONES AXTEL ***//
//
//
button, input[type="submit"],
input[type="reset"],
input[type="button"], {
    @include basebotones-axtel();
}

a {
    &.btn-axtel-secondary, &.btn-axtel-alternative, &.btn-axtel-darkbg,
    &.btn-axtel-rect, &.btn-axtel-submit, &.btn-axtel-login, &.btn-axtel-pinkbg {
    @include basebotones-axtel();
    color: #ffffff;
    padding-top: 16px;
    &:before {
        margin-left: -38px;
    }
        &:hover, &:active, &:visited {
            color: #ffffff;
        }
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"], {
    &.btn-axtel-submit, &.btn-axtel-login, &.btn-axtel-delete {
    text-align: left;
    padding-left: 22px;
    }
}

.btn-axtel-main {
    min-width: 173px;
    background-color: $negocios-secondarycolor;
        &:hover {
            background-color: #ffcc00;
        }
        &:active {
            background-color: #ffffeb;
            border: 1px solid #fedd38;
            @include box-shadow(none);
        }
        &:focus, &:active:focus {
            outline: none;
        }
}

.btn-axtel-alternative {
    min-width: 173px;
    background-color: $empresas-primarycolor;
    color: #ffffff !important;
        &:hover {
            background-color: #6d6e71;
            color: #ffffff;
        }
        &:active {
            color: #ffffff;
            background-color: $empresas-primarycolor;
            border-color: $empresas-primarycolor;
        }
        &:focus {
            color: #ffffff;
        }
}


.btn-axtel-darkbg {
    min-width: 173px;
    background-color: #343335;
    border: 1px solid #4f4e50;
    color: #ffffff;
        &:hover {
            background-color: #3a393b;
            border: 1px solid #494849;
        }
        &:active {
            background-color: #2d2d2e;
            border: 1px solid #555456;
        }
}

.btn-axtel-rect {
    min-width: 173px;
    height: 52px;
    @include border-radius(3px);
    @include transition(all 0.3s ease);
    background-color: #9d1a28;
    color: #ffffff;
    border: 1px solid #c23b4a;
        &:hover {
            background-color: #b01d2d;
            color: #ffffff;
        }
        &:active {
            background-color: #891623;
            box-shadow: none;
            @include box-shadow(none);
        }
        &:focus, &:active:focus {
            outline: none;
            color: #ffffff;
        }
}

.btn-axtel-redbg {
    min-width: 173px;
    background-color: #ffffff;
        &:hover {
            background-color: $casa-secondarycolor-f;
        }
        &:active {
            background-color: $casa-secondarycolor-e;
            border: 1px solid $casa-secondarycolor-e;
        }
}

.btn-axtel-secondary {
    min-width: 173px;
    background-color: $casa-primarycolor;
    color: #ffffff;
        &:hover {
            background-color: $casa-secondarycolor-a;
            color: #ffffff;
        }
        &:active {
            background-color: $casa-secondarycolor-b;
            border: 1px solid $casa-secondarycolor-b;
        }
        &:focus, &:active:focus {
            color: #ffffff;
        }
}

.btn-axtel-download {
    min-width: 173px;
    background-color: $casa-secondarycolor-e;
        &:before {
            content: "\e803";
        }
        &:hover, &:active {
            @include box-shadow(none);
        }
        &:focus, &:active:focus {
                outline: none;
        }
        
}

.btn-axtel-submit {
    min-width: 173px;
    background-color: $casa-secondarycolor-f;
    color: #ffffff !important;
    &:before {
            content: "\e809";
    }    
    &:hover, &:active {
        color: #ffffff;
        @include box-shadow(none);
        }
    &:focus, &:active:focus {
            outline: none;
            color: #ffffff;
        }
}

.btn-axtel-login {
    min-width: 173px;
    background-color: $negocios-secondarycolor;
    color: $empresas-primarycolor !important;
    &:before {
        content: "\e804";
    }
}

.btn-axtel-delete {
    min-width: 173px;
    background-color: #939598;
        &:before {
            content: "\e801";
        }
}

.btn-axtel-pinkbg {
    min-width: 173px;
    background-color: $casa-secondarycolor-c;
    color: #ffffff;
        &:hover {
            background-color: $casa-secondarycolor-a;
            color: #ffffff;
        }
        &:active {
            background-color: $casa-secondarycolor-b;
            border: 1px solid $casa-secondarycolor-b;
        }
        &:focus, &:active:focus {
            color: #ffffff;
        }
}

//****BOTONES + , - ****//
.btn-axtel-plus-sp, .btn-axtel-minus-sp {
    @include base-otherbtns();
}

.btn-axtel-plus-sp {
    background-image: url('../img/elements/axtel-plus-btnsp.png');
    &:hover {
        background-image: url('../img/elements/axtel-plus-btnsp.png');
    }
    &:active {
        background-image: url('../img/elements/axtel-plus-btnsp.png');
    }
}

.btn-axtel-minus-sp {
    background-image: url('../img/elements/axtel-minus-btnsp.png');
    &:hover {
        background-image: url('../img/elements/axtel-minus-btnsp.png');
    }
    &:active {
        background-image: url('../img/elements/axtel-minus-btnsp.png');
    }
}


//***BUTTON BAR***//
.button-group {
    width: auto !important;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: left !important;
    @include border-radius(25px);
    $large-screen: em(860) !default;
    font-family: "Din", "axteliconos";
    font-weight: bold !important;  
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: $empresas-secondarycolor-f;
    height: 52px;

    input {
        display: none;
    }
    
    label {
        margin-bottom: 0;
        margin-top: 0;
        @include media($large-screen) {
          float: left;
        }
        
            span {
            @include border-radius(25px);
            background: $empresas-secondarycolor-f;
            color: $empresas-secondarycolor-d;
            text-align: center;
            height: 52px;
            padding: 18px 30px 0;
            min-width: 173px;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            @include transition(all 0.3s ease);
            
            &:hover {
                background-color: $casa-secondarycolor-a;
                color: #ffffff;
            }
        }
        
        input:checked + span {
            background-color: $casa-secondarycolor-b;
            color: #ffffff;
        }
    }
}/* END button-group */

