/**** LIST GROUP ****/
.axtel-list {
    list-style-type: none;
    padding-left: 0;
    padding-right: 30%;
    font-size: 16px;
    color: $white;
    font-family:$heading-font-family;
    li {
        padding: 9px;
        &:hover {
            background-color: #848484;
        }
    }
    a {
        color: $white;
        &:hover, &:active, &:focus {
            color: $white;
        }
    }
    @include bulletscolores();
    
    // RESPONSIVO
    @include media($mdscreen) {
        font-size: 90%;
    }
}

.pblanco-icon {
    &:before {
        content: pblanco-iconSVG();
        content: url(($image-elements-route)+'puntoblanco-icon.png');
        position: relative;
        top: 1px;
        left: -5px;
    }
}
.projo-icon {
    &:before {
        content: projo-iconSVG();
        content: url(($image-elements-route)+'puntorojo-icon.png');
        position: relative;
        top: 1px;
        left: -5px;
    }
}
.pamarillo-icon {
    &:before {
        content: pamarillo-iconSVG();
        content: url(($image-elements-route)+'puntoamarillo-icon.png');
        position: relative;
        top: 1px;
        left: -5px;
    }
}
.pverde-icon {
    &:before {
        content: pverde-iconSVG();
        content: url(($image-elements-route)+'puntoverde-icon.png');
        position: relative;
        top: 1px;
        left: -5px;
    }
}