header.navigation {
	position: fixed;
	top: 0;
	background-color: $white;
	min-height: 70px;
	width: 100%;
	z-index: 999;
	.navigation-wrapper {
		position: relative;
		z-index: 999;
	}
	.navigation-wrapper::after {
		clear: both;
		content: "";
		display: table;
	}
	.logo {
		float: left;
		max-height: 70px;
		margin: .5625em 1em;
		background-image: url(http://new.axtel.mx/sites/new.axtel.mx/themes/custom/new_axtel/assets/dist/css/sprite.png);
		background-position: -116px -173px;
		width: 50px;
		height: 51px;
	}
    
    .navigation-tools {
      float: right;
      margin: 10px 15px 3px 6px;
	  @include media(max-width 480px) {
		display: none;
	  }
    }
}
@media screen and(min-width: 64em) {
	header.navigation {
		.logo {
			background-image: url(http://new.axtel.mx/sites/new.axtel.mx/themes/custom/new_axtel/assets/dist/css/sprite.png);
			background-position: 0 -133px;
			width: 140px;
			height: 40px;
			margin: .9375em 0 .9375em 1em;
		}
	}
}


//***MENU EN PASOS***//
ul.menupasos {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid $gray-secondary-6;
	@include border-radius(20px);
	font-size: .65em;
	text-transform: uppercase;
	font-family: "Din";
	
	li {
		display: inline;
		list-style-type: none;
		
		a {
			display: inline-block;
			padding: 9px 0 7px;
			text-align: center;
			word-spacing: .7em;
			width: 33.1%;
			color: $dark-gray;
			
			&.activo {
				background-color: $dark-gray;
				@include border-radius(20px);
				color: $white;
			}
			
			@include media(min-width 320px max-width 768px) {
				width: 32.1%;
				vertical-align: middle;
			}
			
		}
		
	}
	
}




