
////* MIXINS *////

/*BORDER RADIUS*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*BOX SHADOW*/
@mixin box-shadow($args...) {
    -webkit-box-shadow:$args;
    -moz-box-shadow:$args;
    box-shadow:$args;
}

/*TRANSITIONS*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*OPACITY*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*SVG*/
@mixin svg-bg($name, $extension: png, $color: transparent, $position: 0 0, $repeat: no-repeat) {
  background: none, url(svg-icons/#{$name}.svg) $color $position $repeat;
}