//EJEMPLO DE JQUERY-UI
.sliderOn
{
  display:none;
}
#slider
{
  font-size: 1px;
  height: 246px;
  position: absolute;
  right: 23px;
  top: 18px;
}
.jquerySliderActive
{
  overflow:hidden !important;
}
.sliderHolder {
    width: 100%;
    margin-left: -20px;
    padding-left: 24px;
    padding-top: 25px;
    float: left;
  
    p + p {
        line-height:1.5em;
    }
    
    p {
        float:left;
        font-size: 10px;
        text-align: center;
        top: 10px;
    }
    
    .slider-legend {
        margin-left: 17%;
        margin-top: 46px;
        
    p {
        overflow:hidden;
        font-size: 18px;
        font-weight: 600;
    }
    
    }
}

.horizontalSlider {
    height:9px !important;
    width:83%;
    background-color: #e7e7e9;
    float: left;
    @include transition(all 0.6 ease);
    
    span.ui-slider-handle {
        /*background: url("../style-elements/axtel-paquetes-handle.png") no-repeat scroll top center transparent;*/
        border: medium none;
        border-radius: 0 0 0 0;
        display: block;
        height: 65px;
        margin-left: -35px;
        padding: 8px 0 0;
        position: relative;
        top: -39px;
        width: 59px;
        @include transition(all 0.6 ease);
        
            &:hover, &:active {
                background: url("../style-elements/axtel-paquetes-handle.png") no-repeat scroll top center transparent;
            }
            &:focus {
                outline: none;
            }
    }
    
    &.handmegas {
         span.ui-slider-handle {
             &:hover, &:active {
                background: url("../style-elements/axtel-paqmegas-handle.png") no-repeat scroll top center transparent;
            }
         }
    }
}

.horizontalSlider.ui-slider-horizontal .ui-slider-range-min
{
    @include transition(all 0.3s ease);
    background-color: #fd5656;
    height: 9px;
    float: left;
}

.horizontalSlider.handmegas.ui-slider-horizontal .ui-slider-range-min
{
    @include transition(all 0.3s ease);
    background-color: #000000;
    height: 9px;
    float: left;
}

.fakeslider {
    width: 17%;
    height: 9px;
    background: #fd5656;
    float: left;
    @include border-radius(5px 0 0 5px);
    &.slidermegas {
        background: #000000 !important;
    }
}

//END EJEMPLO DE JQUERY-UI