@font-face {
  font-family: "Din";
  src: url('../fonts/DINWeb-Light.eot?1439219909');
  src: url('../fonts/DINWeb-Light.eot?&1439219909#iefix') format('embedded-opentype'), url('../fonts/DINWeb-Light.woff?1439219909') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: "Din";
  src: url('../fonts/DINWeb.eot?1439219909');
  src: url('../fonts/DINWeb.eot?&1439219909#iefix') format('embedded-opentype'), url('../fonts/DINWeb.woff?1439219909') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "Din";
  src: url('../fonts/DINWeb-Bold.eot?1439219909');
  src: url('../fonts/DINWeb-Bold.eot?&1439219909#iefix') format('embedded-opentype'), url('../fonts/DINWeb-Bold.woff?1439219909') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "Din";
  src: url('../fonts/DINWeb-Black.eot?1439219909');
  src: url('../fonts/DINWeb-Black.eot?&1439219909#iefix') format('embedded-opentype'), url('../fonts/DINWeb-Black.woff?1439219909') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: "Din";
  src: url('../fonts/DINWeb-Medium.eot?1439219909');
  src: url('../fonts/DINWeb-Medium.eot?&1439219909#iefix') format('embedded-opentype'), url('../fonts/DINWeb-Medium.woff?1439219909') format('woff');
  font-weight: 600;
}