
/*** VARIABLES ***/

$color-body: #262626;

/***COLORES CASA***/
$casa-primarycolor: #c42032;
$casa-secondarycolor-a: #ae2033;
$casa-secondarycolor-b: #861627;
$casa-secondarycolor-c: #5b0d00;
$casa-secondarycolor-d: #b81e2e;
$casa-secondarycolor-e: #fe5757;
$casa-secondarycolor-f: #fe8181;

/***COLORES EMPRESAS***/
$empresas-primarycolor: #414042;
$empresas-primarycolor-a: #333333;
$empresas-secondarycolor-a: #58595b;
$empresas-secondarycolor-b: #6d6e71;
$empresas-secondarycolor-c: #939598;
$empresas-secondarycolor-d: #a7a9ac;
$empresas-secondarycolor-e: #d1d3d4;
$empresas-secondarycolor-f: #e6e7e8;
$empresas-secondarycolor-g: #f1f2f2;

/***COLORES NEGOCIOS***/
$negocios-primarycolor: #808285;
$negocios-secondarycolor: #fedd38;

/***COLORES GOBIERNO***/
$gobierno-primarycolor: #d1d3d4;
$gobierno-secondarycolor-a: #d6dccc;
$gobierno-secondarycolor-b: #dee7eb;
$gobierno-secondarycolor-c: #ffffeb;