@import '../scss/mixins';
@import '../scss/variables';
@import '../scss/functions';
@import '../scss/type';
@import '../scss/axtelselects';
@import '../bootstrap/mixins';
@import '../bootstrap/variables';
@import '../font-awesome-4.4.0/scss/variables';
@import '../scss/checkboxes';

body {
    background-color: $color-body;
    font-family: "Din"
}

a {
    color: inherit;
    text-decoration: none;
    &:hover { text-decoration: none; }
}

h1 {
    font-size: 60px;
    font-weight: 100;
}
    
h2 {
    font-size: 31px;
    font-weight: 100;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}

h4 {
    font-size: 14px;
    font-weight: normal;
}

h5 {
    font-size: 13px;
    font-weight: normal;
}

h6 {
    font-size: 13px;
    font-weight: normal;
}

.row-fondoblanco {
    background-color: #ffffff;
    padding: 10px 5px 15px;
}

.texto-blanco {
    color: #ffffff;
}

.padding-topbottom {
    padding-top: 5px;
    padding-bottom: 12px;
}

/*****CASA COLORS*****/
.casa-primary-color {
    background-color: $casa-primarycolor;
}

.casa-secondarya-color {
    background-color: $casa-secondarycolor-a;
}

.casa-secondaryb-color {
    background-color: $casa-secondarycolor-b;
}

.casa-secondaryc-color {
    background-color: $casa-secondarycolor-c;
}

.casa-secondaryd-color {
    background-color: $casa-secondarycolor-d;
}

.casa-secondarye-color {
    background-color: $casa-secondarycolor-e;
}

.casa-secondaryf-color {
    background-color: $casa-secondarycolor-f;
}

/*****EMPRESAS COLORS*****/
.empresa-primary-color {
    background-color: $empresas-primarycolor;
}

.empresa-primarya-color {
    background-color: $empresas-primarycolor-a;
}

.empresa-secondarya-color {
    background-color: $empresas-secondarycolor-a;
}

.empresa-secondaryb-color {
    background-color: $empresas-secondarycolor-b;
}

.empresa-secondaryc-color {
    background-color: $empresas-secondarycolor-c;
}

.empresa-secondaryd-color {
    background-color: $empresas-secondarycolor-d;
}

.empresa-secondarye-color {
    background-color: $empresas-secondarycolor-e;
    color: $empresas-secondarycolor-c;
}

.empresa-secondaryf-color {
    background-color: $empresas-secondarycolor-f;
    color: $empresas-secondarycolor-c;
}

.empresa-secondaryg-color {
    background-color: $empresas-secondarycolor-g;
    color: $empresas-secondarycolor-c;
}

/***NEGOCIOS COLORS***/
.negocio-primary-color {
    background-color: $negocios-primarycolor;
}

.negocio-secondary-color {
    background-color: $negocios-secondarycolor;
    color: $empresas-secondarycolor-c;
}

/***GOBIERNO COLORS***/
.gobierno-primary-color {
    background-color: $gobierno-primarycolor;
    color: $empresas-secondarycolor-c;
}

.gobierno-secondarya-color {
    background-color: $gobierno-secondarycolor-a;
    color: $empresas-secondarycolor-c;
}

.gobierno-secondaryb-color {
    background-color: $gobierno-secondarycolor-b;
    color: $empresas-secondarycolor-c;
}

.gobierno-secondaryc-color {
    background-color: $gobierno-secondarycolor-c;
    color: $empresas-secondarycolor-c;
}

/*****ICONOS-BOTONES*****/
.btn {
    h4 {
        margin-bottom: 3px;
        margin-top: 3px;
    }
}


/*****BOTONES*****/
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    background-color: $empresas-secondarycolor-c;
    &:hover {background-color: $empresas-secondarycolor-c;}
}

.btn-axtel-main {
    @include border-radius(25px);
    @include transition(all 0.3s ease);
    background-color: $negocios-secondarycolor;
    padding: 10px 46px;
    font-weight: bold;
        &:hover {
            background-color: #ffcc00;
        }
        &:active {
            background-color: #ffffeb;
            border: 1px solid #fedd38;
            @include box-shadow(none);
        }
        &:focus, &:active:focus {
            outline: none;
        }
}

.btn-axtel-alternative {
    @extend .btn-axtel-main;
    background-color: $empresas-primarycolor;
    color: #ffffff;
        &:hover {
            background-color: #6d6e71;
            color: #ffffff;
        }
        &:active {
            color: #ffffff;
            background-color: $empresas-primarycolor;
            border-color: $empresas-primarycolor;
        }
        &:focus {
            color: #ffffff;
        }
}

.btn-axtel-darkbg {
    @extend .btn-axtel-alternative;
    background-color: #343335;
    border: 1px solid #4f4e50;
    color: #ffffff;
        &:hover {
            background-color: #3a393b;
            border: 1px solid #494849;
        }
        &:active {
            background-color: #2d2d2e;
            border: 1px solid #555456;
        }
}

.btn-axtel-rect {
    @include border-radius(3px);
    @include transition(all 0.3s ease);
    background-color: #9d1a28;
    color: #ffffff;
    border: 1px solid #c23b4a;
    padding: 10px 46px;
        &:hover {
            background-color: #b01d2d;
            color: #ffffff;
        }
        &:active {
            background-color: #891623;
            box-shadow: none;
            @include box-shadow(none);
        }
        &:focus, &:active:focus {
            outline: none;
            color: #ffffff;
        }
}

.btn-axtel-redbg {
    @extend .btn-axtel-main;
    background-color: #ffffff;
        &:hover {
            background-color: $casa-secondarycolor-f;
        }
        &:active {
            background-color: $casa-secondarycolor-e;
            border: 1px solid $casa-secondarycolor-e;
        }
}

.btn-axtel-secondary {
    @extend .btn-axtel-main;
    background-color: $casa-primarycolor;
    color: #ffffff;
        &:hover {
            background-color: $casa-secondarycolor-a;
            color: #ffffff;
        }
        &:active {
            background-color: $casa-secondarycolor-b;
            border: 1px solid $casa-secondarycolor-b;
        }
        &:focus, &:active:focus {
            color: #ffffff;
        }
}

.btn-axtel-download {
    @include border-radius(25px);
    @include transition(all 0.3s ease);
    padding: 10px 46px;
    background-color: $casa-secondarycolor-e;
    font-weight: bold;
        &:before {
            content: download-iconSVG();
        }
    &:hover, &:active {
        @include box-shadow(none);
        }
    &:focus, &:active:focus {
            outline: none;
        }
        
}

.btn-axtel-submit {
    @extend .btn-axtel-download;
    background-color: $casa-secondarycolor-f;
    color: #ffffff;
        &:before {
            content: submit-iconSVG();
        }
        &:hover, &:active {
            color: #ffffff;
            @include box-shadow(none);
            }
        &:focus, &:active:focus {
                outline: none;
                color: #ffffff;
            }
}

.btn-axtel-login {
    @extend .btn-axtel-download;
    background-color: $negocios-secondarycolor;
        &:before {
            content: login-iconSVG();
        }
}

.btn-axtel-delete {
    @extend .btn-axtel-download;
    background-color: #939598;
        &:before {
            content: delete-iconSVG();
        }
}

.btn-axtel-pinkbg {
    @extend .btn-axtel-main;
    background-color: $casa-secondarycolor-c;
    color: #ffffff;
        &:hover {
            background-color: $casa-secondarycolor-a;
            color: #ffffff;
        }
        &:active {
            background-color: $casa-secondarycolor-b;
            border: 1px solid $casa-secondarycolor-b;
        }
        &:focus, &:active:focus {
            color: #ffffff;
        }
}

.btn {
    &.btn-axtel-plus {
        width: 29px;
        height: 29px;
        background-image: plusbtn-iconSVG(#c42032);
        background-repeat: no-repeat;
        @include transition(all 0.3s ease);
        &.close {
            float: none;
            @include opacity(1.0);
        }
    }
    
    &.btn-axtel-minus {
        width: 29px;
        height: 29px;
        background-image: minusbtn-iconSVG(#c42032);
        background-repeat: no-repeat;
        @include transition(all 0.3s ease);
        &.close {
            float: none;
            @include opacity(1.0);
        }
    }
    
    &:hover {
        &.btn-axtel-plus {
            background-image: plusbtn-iconSVG(#ae2033);
        }
        &.btn-axtel-minus {
            background-image: minusbtn-iconSVG(#ae2033);
        }
    }
    &:active {
        &.btn-axtel-plus {
            background-image: plusbtn-iconSVG(#861627);
        }
        &.btn-axtel-minus {
            background-image: minusbtn-iconSVG(#861627);
        }
        outline: none;
        @include box-shadow(none);
    }
    &:active:focus, &:focus {outline: none;}
}

.axtel-btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include border-radius(25px);
    background-color: #f1f2f2;
    .btn-axtel-secondary {
        background-color: #f1f2f2;
        color: #88898c;
    }
    
    .active {
        background-color: $casa-primarycolor;
        color: #ffffff;
    }
}

/*DARK*/
.dark-jumbotron {
    background-color: #1b1b1d;
    padding: 38px 45px;
    
        h6 {
            color: $empresas-secondarycolor-c;
        }
}

/**** LIST GROUP ****/
.axtel-list-group {
    max-width: 150px;
}
.axtel-listgroup-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    font-size: 12px;
    
        &.pblanco-icon {
            &:before {
                content: pblanco-iconSVG();
                position: relative;
                top: 1px;
                left: -5px;
            }
        }
        &.projo-icon {
            &:before {
                content: projo-iconSVG();
                position: relative;
                top: 1px;
                left: -5px;
            }
        }
        &.pamarillo-icon {
            &:before {
                content: pamarillo-iconSVG();
                position: relative;
                top: 1px;
                left: -5px;
            }
        }
        &.pverde-icon {
            &:before {
                content: pverde-iconSVG();
                position: relative;
                top: 1px;
                left: -5px;
            }
        }
}

a.axtel-listgroup-item, button.axtel-listgroup-item {
    color: #fff;
}

a.axtel-listgroup-item {
    &:focus { text-decoration: none;}
}

.axtel-listgroup-item.active, .axtel-listgroup-item.active:focus, .axtel-listgroup-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #444;
}


/****FORMS****/
.form-control {
    @include border-radius(2px);
    border: 1px solid #e4e5e6;
    @include box-shadow(none);
    font-size: 12px;
}

.axtel-jumbotronform {
    padding: 39px 80px 20px;
    background-color: #f1f1f1;
}

.axtel-headerforms {
    width: 100%;
    padding: 32px 18px;
    background-color: $casa-primarycolor;
    &>p {margin-bottom: 0;}
}

p {
    &.axtel-instructionforms {
        width: 100%;
        text-align: center;
        font-size: 24px;
    }
    &.axtel-calltoactionforms {
        @extend .axtel-instructionforms;
        color: #ffffff;
        font-size: 20px;
    }
    &.axtel-maintitleforms {
        @extend .axtel-instructionforms;
        color: #ffffff;
        font-size: 50px;
    }
    &.axtel-subtitleforms {
        @extend .axtel-instructionforms;
        color: #ffffff;
        font-size: 12px;
    }
}

.btn-axtel-default {
    color: #3e3e3e;
    background-color: #ffffff;
    border-color: #d1d3d4;
    @include border-radius(2px);
}

.axtel-downarrow {
    &:before {
        margin-left: 12px;
        content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMi43NXB4IiBoZWlnaHQ9IjguMjVweCIgdmlld0JveD0iMCAwIDEyLjc1IDguMjUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyLjc1IDguMjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gZmlsbD0iIzk0OTU5NSIgcG9pbnRzPSI2LjA4MSw1LjMyIDIuMDE2LDEuMTkyIDEsMi4yMDggNi4wODEsNy4zNTEgMTEuMjcyLDIuMjQ0IDEwLjI1NywxLjIyOSAiLz4NCjwvc3ZnPg0K");
    }
}

/***** TITULO FORMULARIO CON LINEA *****/
form {
    label {
        font-size: 12px;
        color: #7c7e82;
        font-weight: normal;
    }
    
    .input-group {
        .btn-axtel-default {
            background-color: #d1d3d4;
        }
    }
}

h1.tit-seccionesformulario {
    position: relative;
    margin-top: 0;
    font-size: 12px;
    text-align: center;
    color: #7c7e82;
    
    &:before {
    content: "";
    display: block;
    border-top: solid 1px #d5d7d8;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
    }
    
    span {
        background: #f1f1f1;
        padding: 0 20px;
        position: relative;
        z-index: 5;    
    }
}

.fuente-axtel {
    font-size: 12px;
    color: #3e3e3e;
}


.align-center {
    text-align: center;
}

/**** DROPDOWN MENU ****/
.axtel-dropdown-menu{
    @include border-radius(2px);
    @include box-shadow(none);
    >li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}
    >li>a:focus, >li>a:hover{color:#262626;text-decoration:none;background-color:#58595b;color:#ffffff;}
    
} 

