/*** ESTILOS ESPECIFICOS PARA IE8 - superhack ***/
png, gif {behavior: utl('../../png.htc');}

.btn {
    background-color: transparent !important;
}

.btn-axtel-main {
    width: 139px;
    height: 41px;
    background-image: url('../style-elements/axtel-mainbtn.png') !important;
    background-repeat: no-repeat;
    background-position: top center;
}

.btn-axtel-alternative {
    @extend .btn-axtel-main;
    background-image: url('../style-elements/axtel-alternativebtn.png') !important;
}

.btn-axtel-secondary {
    @extend .btn-axtel-main;
    background-image: url('../style-elements/axtel-secondarybtn.png') !important;
}

.btn-axtel-pinkbg {
    @extend .btn-axtel-main;
    background-image: url('../style-elements/axtel-pinkbgbtn.png') !important;
}

.btn-axtel-darkbg {
    @extend .btn-axtel-main;
    background-image: url('../style-elements/axtel-darkbgbtn.png') !important;
    border: none;
}

.btn-axtel-redbg {
    @extend .btn-axtel-main;
    background-image: url('../style-elements/axtel-redbgbtn.png') !important;
}


.axtel-btn-group {
    .btn-axtel-secondary {
        background-image: url('../style-elements/axtel-inactivegroupbtn.png') !important;
        color: #88898c;
    }
    
    .active {
        background-image: url('../style-elements/axtel-secondarybtn.png') !important;
        color: #ffffff;
    }
}

.btn-axtel-download {
    background-image: url('../style-elements/axtel-downloadbtn.png') !important;
    width: 139px;
    background-repeat: no-repeat;
    background-position: top center;
}

.btn-axtel-submit {
    @extend .btn-axtel-download;
    background-image: url('../style-elements/axtel-submitbtn.png') !important;
}

.btn-axtel-login {
    @extend .btn-axtel-download;
    background-image: url('../style-elements/axtel-loginbtn.png') !important;
}

.btn-axtel-delete {
    @extend .btn-axtel-download;
    background-image: url('../style-elements/axtel-deletebtn.png') !important;
}






