/*** ESTILOS ESPECIFICOS PARA IE8 - superhack ***/
/* line 2, ../scss/ie8.scss */
png, gif {
  behavior: utl("../../png.htc");
}

/* line 4, ../scss/ie8.scss */
.btn {
  background-color: transparent !important;
}

/* line 8, ../scss/ie8.scss */
.btn-axtel-main, .btn-axtel-alternative, .btn-axtel-secondary, .btn-axtel-pinkbg, .btn-axtel-darkbg, .btn-axtel-redbg {
  width: 139px;
  height: 41px;
  background-image: url("../style-elements/axtel-mainbtn.png") !important;
  background-repeat: no-repeat;
  background-position: top center;
}

/* line 16, ../scss/ie8.scss */
.btn-axtel-alternative {
  background-image: url("../style-elements/axtel-alternativebtn.png") !important;
}

/* line 21, ../scss/ie8.scss */
.btn-axtel-secondary {
  background-image: url("../style-elements/axtel-secondarybtn.png") !important;
}

/* line 26, ../scss/ie8.scss */
.btn-axtel-pinkbg {
  background-image: url("../style-elements/axtel-pinkbgbtn.png") !important;
}

/* line 31, ../scss/ie8.scss */
.btn-axtel-darkbg {
  background-image: url("../style-elements/axtel-darkbgbtn.png") !important;
  border: none;
}

/* line 37, ../scss/ie8.scss */
.btn-axtel-redbg {
  background-image: url("../style-elements/axtel-redbgbtn.png") !important;
}

/* line 44, ../scss/ie8.scss */
.axtel-btn-group .btn-axtel-secondary {
  background-image: url("../style-elements/axtel-inactivegroupbtn.png") !important;
  color: #88898c;
}
/* line 49, ../scss/ie8.scss */
.axtel-btn-group .active {
  background-image: url("../style-elements/axtel-secondarybtn.png") !important;
  color: #ffffff;
}

/* line 55, ../scss/ie8.scss */
.btn-axtel-download, .btn-axtel-submit, .btn-axtel-login, .btn-axtel-delete {
  background-image: url("../style-elements/axtel-downloadbtn.png") !important;
  width: 139px;
  background-repeat: no-repeat;
  background-position: top center;
}

/* line 62, ../scss/ie8.scss */
.btn-axtel-submit {
  background-image: url("../style-elements/axtel-submitbtn.png") !important;
}

/* line 67, ../scss/ie8.scss */
.btn-axtel-login {
  background-image: url("../style-elements/axtel-loginbtn.png") !important;
}

/* line 72, ../scss/ie8.scss */
.btn-axtel-delete {
  background-image: url("../style-elements/axtel-deletebtn.png") !important;
}
